:root {
  --color-very-dark-blue: hsl(243, 87%, 12%);
  --color-desaturated-blue: hsl(238, 22%, 44%);
  --color-bright-blue: hsl(224, 93%, 58%);
  --color-moderate-cyan: hsl(170, 45%, 43%);
  --color-light-greyish-blue: hsl(240, 75%, 98%);
  --color-light-grey: hsl(0, 0%, 75%); }

html {
  box-sizing: border-box;
  font-size: 50%; }
  @media only screen and (min-width: 1440px) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 1100px) {
    html {
      font-size: 45%; } }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

button {
  height: 4.8rem;
  width: 20rem;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: var(--color-bright-blue);
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  transition: all .2s; }
  @media only screen and (max-width: 800px) {
    button {
      width: max-content;
      padding: 0 2rem; } }
  @media only screen and (max-width: 725px) {
    button {
      width: 100%; } }
  button:hover {
    background-color: rgba(48, 101, 248, 0.842); }
  button:active {
    background-color: #1e51dc; }

input {
  height: 4.8rem;
  padding-left: 2rem;
  outline-color: rgba(48, 101, 248, 0.63); }
  input::placeholder {
    color: var(--color-light-grey);
    font-weight: 300; }

.feature__content a {
  position: relative;
  text-decoration: none; }
  .feature__content a span {
    color: var(--color-moderate-cyan);
    font-size: 1.8rem; }
  .feature__content a .arrow {
    margin-left: .5rem; }
  .feature__content a::after {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: var(--color-moderate-cyan); }

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22.6rem;
  width: 36rem;
  padding: 3.2rem;
  border-radius: 4px;
  box-shadow: -2px 1px 15px rgba(0, 0, 0, 0.1);
  background-color: white; }
  .testimonial__quote {
    height: 1.4rem;
    width: 1.4rem;
    fill: var(--color-very-dark-blue); }
  .testimonial__text {
    font-size: 1.4rem;
    line-height: 1.6; }
  .testimonial__attribution {
    display: flex;
    align-items: center; }
    .testimonial__attribution img {
      height: 3.4rem;
      width: auto;
      margin-right: 1rem;
      border-radius: 50%; }
    .testimonial__attribution__text {
      color: var(--color-very-dark-blue); }
      .testimonial__attribution__text h4 {
        margin-bottom: .2rem;
        font-family: 'Raleway', sans-serif;
        font-size: 1.2rem;
        font-weight: 700; }
      .testimonial__attribution__text p {
        font-size: 7px; }

body {
  overflow-x: hidden; }

header {
  display: flex;
  height: 18rem;
  padding: 3rem 8rem;
  align-items: center; }
  @media only screen and (max-width: 800px) {
    header {
      height: 14rem;
      margin-bottom: 4rem;
      padding: 3rem 6rem; } }
  header svg {
    margin-right: auto;
    width: 16.6rem; }
    @media only screen and (max-width: 1000px) {
      header svg {
        width: 13rem; } }
  header nav {
    width: 23%;
    min-width: 18rem; }
    header nav ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style: none; }
      header nav ul li a {
        position: relative; }
        header nav ul li a::after {
          content: '';
          height: 1px;
          width: 100%;
          position: absolute;
          bottom: -4px;
          left: 0;
          background-color: var(--color-light-grey);
          opacity: 0;
          transition: all .5s; }
        header nav ul li a:hover::after {
          opacity: 1; }

main .feature {
  display: flex;
  padding: 0 8rem; }
  @media only screen and (max-width: 725px) {
    main .feature {
      flex-direction: column;
      align-items: center; } }
  main .feature__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; }
    @media only screen and (max-width: 725px) {
      main .feature__content {
        align-items: center;
        width: 70%;
        min-width: 40rem; } }
    main .feature__content input {
      width: 50%;
      margin-right: 1.4rem; }
      @media only screen and (max-width: 725px) {
        main .feature__content input {
          width: 100%;
          margin-bottom: 2rem; } }
  main .feature__illustration {
    display: flex;
    justify-content: center;
    width: 50%; }
    @media only screen and (max-width: 1000px) {
      main .feature__illustration {
        padding-left: 5rem; } }
    @media only screen and (max-width: 725px) {
      main .feature__illustration {
        order: -1;
        width: 70%;
        min-width: 40rem;
        padding-left: 0; } }
    main .feature__illustration svg {
      height: 50rem;
      width: auto; }
      @media only screen and (max-width: 800px) {
        main .feature__illustration svg {
          height: 45rem; } }

main .primary {
  margin-bottom: 22rem; }
  @media only screen and (max-width: 725px) {
    main .primary {
      margin-bottom: 14rem; } }
  main .primary h1 {
    margin-bottom: 1.8rem; }
  main .primary p {
    margin-bottom: 2.8rem; }

main .secondary {
  padding-top: 17.4rem;
  padding-bottom: 10rem;
  background-color: var(--color-light-greyish-blue);
  clip-path: ellipse(90% 70% at 50% 70%); }
  @media only screen and (max-width: 725px) {
    main .secondary {
      padding-top: 2rem; } }
  main .secondary h1 {
    margin-bottom: 3.2rem; }
    @media only screen and (max-width: 725px) {
      main .secondary h1 {
        font-size: 2.8rem; } }
  main .secondary .feature__content > p {
    width: 85%;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 725px) {
      main .secondary .feature__content > p {
        width: 100%; } }
  main .secondary .feature__content {
    width: 65%; }
    main .secondary .feature__content__link {
      display: inline-block;
      margin-bottom: 5rem; }
  main .secondary .feature__illustration {
    width: 45%; }

main .cta {
  display: flex;
  background-color: var(--color-desaturated-blue); }
  @media only screen and (max-width: 725px) {
    main .cta {
      flex-direction: column;
      align-items: center; } }
  main .cta__content {
    width: 50%;
    padding: 10rem 8rem; }
    @media only screen and (max-width: 725px) {
      main .cta__content {
        width: 80%;
        min-width: 42rem;
        padding: 10rem 0rem; } }
    main .cta__content h2 {
      margin-bottom: 2rem; }
    main .cta__content p {
      width: 95%; }
      @media only screen and (max-width: 725px) {
        main .cta__content p {
          font-size: 1.6rem; } }
    @media only screen and (max-width: 725px) {
      main .cta__content {
        padding: 6rem 8rem;
        padding-bottom: 4rem; } }
  main .cta__form {
    width: 50%;
    padding: 10rem 13rem; }
    @media only screen and (max-width: 725px) {
      main .cta__form {
        width: 80%;
        min-width: 42rem;
        padding: 0 8rem;
        padding-bottom: 6rem; } }
    main .cta__form input {
      width: 100%;
      margin-bottom: 1.6rem;
      border: none;
      border-radius: 4px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); }

.footer {
  height: 40rem;
  padding: 4rem 8rem;
  background-color: var(--color-very-dark-blue);
  color: white; }
  @media only screen and (max-width: 725px) {
    .footer {
      height: max-content;
      text-align: left; } }
  .footer__logo {
    display: flex;
    align-items: flex-end;
    height: 45%;
    padding: 2.6rem 0; }
    @media only screen and (max-width: 725px) {
      .footer__logo {
        justify-content: center; } }
    .footer__logo svg {
      height: 5.4rem;
      width: auto; }
      @media only screen and (max-width: 1000px) {
        .footer__logo svg {
          height: 4.4rem; } }
      .footer__logo svg * {
        fill: white; }
  .footer__content {
    display: flex;
    height: 55%;
    font-size: 1.6rem;
    font-weight: 300; }
    @media only screen and (max-width: 725px) {
      .footer__content {
        flex-direction: column;
        padding-top: 3rem; } }
    .footer__content ul {
      list-style: none; }
    .footer__content__contact {
      width: 35%; }
      @media only screen and (max-width: 725px) {
        .footer__content__contact {
          margin-bottom: 3.4rem;
          width: 100%; } }
      .footer__content__contact ul li {
        display: flex;
        align-items: center;
        margin-bottom: 2rem; }
        .footer__content__contact ul li svg {
          height: 1.8rem;
          width: auto;
          margin-right: 2rem; }
        .footer__content__contact ul li p {
          color: white;
          font-size: 1.6rem; }
    .footer__content__navigation {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100%;
      width: 42%; }
      @media only screen and (max-width: 725px) {
        .footer__content__navigation {
          align-items: flex-start;
          margin-bottom: 3.4rem; } }
      .footer__content__navigation ul {
        display: flex;
        flex-flow: column wrap;
        height: 100%; }
        .footer__content__navigation ul li {
          margin-bottom: 1.6rem; }
          .footer__content__navigation ul li a {
            color: white;
            text-decoration: none; }
            .footer__content__navigation ul li a:hover {
              color: var(--color-light-grey); }
    @media only screen and (max-width: 725px) {
      .footer__content__social {
        margin: 0 auto; } }
    .footer__content__social ul {
      display: flex; }
      .footer__content__social ul li {
        margin-right: 1.6rem; }
        .footer__content__social ul li a svg {
          height: 3rem;
          width: 3rem; }
          .footer__content__social ul li a svg:hover * {
            fill: var(--color-light-grey); }
          .footer__content__social ul li a svg * {
            fill: white; }

.attribution {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  background-color: var(--color-very-dark-blue);
  color: var(--color-desaturated-blue);
  font-size: 11px; }
  @media only screen and (max-width: 350px) {
    .attribution {
      flex-direction: column;
      font-size: 10px; } }
  .attribution span {
    margin-right: .5rem; }
  .attribution a {
    color: var(--color-light-grey); }

body {
  font-family: 'Open Sans', sans-serif; }
  @media only screen and (max-width: 725px) {
    body {
      text-align: center; } }

h1,
h2 {
  font-family: 'Raleway', sans-serif; }

h1 {
  color: var(--color-very-dark-blue);
  line-height: 1.4;
  font-size: 4.2rem; }
  @media only screen and (max-width: 1025px) {
    h1 {
      font-size: 3.6rem; } }

h2 {
  color: white;
  font-size: 3.2rem; }
  @media only screen and (max-width: 1000px) {
    h2 {
      font-size: 3rem; } }
  @media only screen and (max-width: 725px) {
    h2 {
      font-size: 2.6rem; } }

p {
  color: var(--color-very-dark-blue);
  font-size: 1.8rem; }
  @media only screen and (max-width: 1000px) {
    p {
      font-size: 1.6rem; } }

header {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 300; }
  @media only screen and (max-width: 725px) {
    header {
      font-size: 1.6rem; } }
  header nav ul li a {
    color: inherit;
    text-decoration: none; }

.cta p {
  color: white;
  font-size: 1.8rem;
  font-weight: 300; }
